</main>
<footer>

    <div class="social-media-container">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>

    <p>Copyright <%= new Date().getFullYear() %></p>

</footer>
<script src="/script.js"></script>
</body>
</html>
