<%- include('partials/header') %>

<form action="/" method="post" class="create-form">
  <input
    type="text"
    id="title"
    name="title"
    placeholder="Title"
    class="title"
  />
  <textarea
    name="text"
    id="text"
    cols="30"
    rows="17"
    placeholder="Write your article here..."
    class="text"
  ></textarea>
  <div class="btn-container">
    <button type="submit" class="submit-btn">ADD</button>
  </div>
</form>

<%- include('partials/footer') %>
